
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/css/user_signup.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ExpManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/signout">Signout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div style="display: inline-block; width: 45vw; vertical-align: top; min-width: 300px;">
    <form action="/users/transaction/create" method="POST" id="sub-form">
      
      
        <div>
          <input type="hidden" id="finalTansMode" name='tansMode' value="none">
          <input TYPE="button" id="credit"class="btn btn-black m-1 addButton"  Value="Credit" onclick="tansModeFunction(this); hello(this);">
          <input TYPE="button" id="debit" class="btn btn-black m-1 addButton"  Value="Debit" onclick="tansModeFunction(this); hello(this);">
          <input TYPE="button" id="transfer"class="btn btn-black m-1 addButton"  Value="Transfer" onclick="tansModeFunction(this); hello(this);">
        </div>
        <span id="tansModeStatus"></span>
      
        <div id="accountType">
            <label>Select Account Type</label>
            <br>
            <select class="custom-select col-10" onchange="toggle(this)" name="accounttype">
              
              <option value="cash">CASH</option>
              <!-- <option value="trf" >TRANSFER</option> -->
              <option value="card1">CARD 1</option>
              <option value="card2">CARD 2</option>
            </select>
        </div>
     
      
        

      <div id="cr-catogery-div" style="display: none"> 
          
          <label>Credit Category</label>
          <br>
          <select class="custom-select col-10" id="crCatOptions" name="crCategory" onchange="categoryFunction(this)">
              <option disabled selected value> -- select an option -- </option>
              <% for(ccl of crListItems){ %>
                <option value="<%=ccl._id%>"><%=ccl.name%></option>
              <% } %>
              <option value="createNewCategory">Create New</option>
          </select>
        </div>



        <div id="dr-catogery-div" style="display: none"> 
          
            <label>Debit Category</label>
            <br>
            <select class="custom-select col-10" id="drCatOptions" name="drCategory" onchange="categoryFunction(this)">
                <option disabled selected value> -- select an option -- </option>
                <% for(dcl of drListItems){ %>
                  <option value="<%=dcl._id%>"><%=dcl.name%></option>
                <% } %>
                <option value="createNewCategory">Create New</option>
            </select>
          </div>
      <span id="categoryStatus"></span>
      <div id="newCategoryDiv" style="display: none">
          <label>Create New Category</label>
          <input type="text" class="form-control col-10" placeholder="Enter name of new catogery" name="newCategoryName">
      </div>
      <div id="trf-div" style="display: none">
        <label>Select Source</label>
        <br>
        <select class="custom-select col-10" name="source" id="src-div" onchange="srcdest()">
          
          <option value="cash">CASH</option>
          <option value="card1">CARD 1</option>
          <option value="card2">CARD 2</option>
        </select>
        <br>

        <label>Select Destination</label>
        <br>
        <select class="custom-select col-10" name="destination" id="dest-div" onchange="srcdest()">
          
          <option value="cash">CASH</option>
          <option value="card1">CARD 1</option>
          <option value="card2">CARD 2</option>
        </select>
        <br>
        <span id="src-dest-comp" style="color: red"></span>
      </div>

      <div class="form-group">
        <label>Enter amount</label>
        <input type="number" class="form-control col-10" placeholder="Amount" name="amount" required step="any">

        <input type="hidden" name="userid" value="<%= user._id %>">
      </div>
      <input type="submit" class="btn btn-black m-1" value="Submit">
    
    </form>
</div>
 <div id="transaction-container" style="display: inline-block; width: 45vw">
    
    <h1>Total Balance = <%= sum %></h1>
    <h2>Cash Balance = <%= cash %></h2>
    <h2>Card 1 Balance = <%= card1 %></h2>
    <h2>Card 2 Balance = <%= card2 %></h2>
</div>

<div class="container">
    <h2>Transaction History</h2>
    <!-- <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p> -->
    
    <div >
      <input type="hidden" id="viewSheet" name='viewSheet' value="none">
      <input TYPE="button" id="allSheet"class="btn btn-light m-1 switchTableButton startTable"  Value="All" onclick="switchTable(this)">
      <input TYPE="button" id="cashSheet"class="btn btn-light m-1 switchTableButton"  Value="Cash" onclick="switchTable(this)">
      <input TYPE="button" id="Card1Sheet" class="btn btn-light m-1 switchTableButton"  Value="Card 1" onclick="switchTable(this)">
      <input TYPE="button" id="Card2Sheet"class="btn btn-light m-1 switchTableButton"  Value="Card 2" onclick="switchTable(this)">
    </div>

    
    <table class="table" id="allTable">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Balance</th>
          <th>Source Account</th>
          <th>Date and Time</th>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <%let sumtable=sum;%>
        <%let cashsumtable=cash;%>
        <%let card1sumtable=card1;%>
        <%let card2sumtable=card2;%>

        <% let i=0; %>
          <% for(transaction of transactions){ %>
          <% if(i==10) break; %>


           <tr>
              <td><%=transaction.content%></td>
              <td><%=sumtable%></td>
              <td><%= transaction.accounttype%></td>
              <td class="corrtime"><%= transaction.createdAt%></td>
              <td><%=transaction.category.name%></td>
              <td><a href="/users/transaction/delete/<%=transaction.id%>" style="display: inline">Delete</a></td>
            </tr>
            <% sumtable = sumtable - transaction.content %>
          <% i++ %>
         <% } %>
         <tr>
            <td><h4><%=sum%></h4></td>
            <td><h4>BALANCE</h4></td>
            <td></td>
           
          </tr>
      </tbody>
    </table>

    <table class="table" id="cashTable" style="display: none;">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Balance</th>
          <th>Source Account</th>
          <th>Date and Time</th>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <% let j=0; %>
          <% for(transaction of cashTransactions){ %>
          <% if(j==10) break; %>


           <tr>
              <td><%=transaction.content%></td>
              <td><%=cashsumtable%></td>
              <td><%= transaction.accounttype%></td>
              <td class="corrtime"><%= transaction.createdAt%></td>
              <td><%=transaction.category.name%></td>
              <td><a href="/users/transaction/delete/<%=transaction.id%>" style="display: inline">Delete</a></td>
            </tr>
            <% cashsumtable = cashsumtable - transaction.content %>
          <% j++ %>
         <% } %>
         <tr>
            <td><h4><%=cash%></h4></td>
            <td><h4>CASH BALANCE</h4></td>
            <td></td>
           
          </tr>
      </tbody>
    </table>

    <table class="table" id="card1Table" style="display: none;">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Balance</th>
          <th>Source Account</th>
          <th>Date and Time</th>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <% let k=0; %>
          <% for(transaction of card1Transactions){ %>
          <% if(k==10) break; %>


           <tr>
              <td><%=transaction.content%></td>
              <td><%=card1sumtable%></td>
              <td><%= transaction.accounttype%></td>
              <td class="corrtime"><%= transaction.createdAt%></td>
              <td><%=transaction.category.name%></td>
              <td><a href="/users/transaction/delete/<%=transaction.id%>" style="display: inline">Delete</a></td>
            </tr>
            <% card1sumtable= card1sumtable-transaction.content %>
          <% k++ %>
         <% } %>
         <tr>
            <td><h4><%=card1%></h4></td>
            <td><h4>CARD 1 BALANCE</h4></td>
            <td></td>
           
          </tr>
      </tbody>
    </table>

    <table class="table" id="card2Table" style="display: none;">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Balance</th>
          <th>Source Account</th>
          <th>Date and Time</th>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <% let l=0; %>
          <% for(transaction of card2Transactions){ %>
          <% if(l==10) break; %>


           <tr>
              <td><%=transaction.content%></td>
              <td><%=card2sumtable%></td>
              <td><%= transaction.accounttype%></td>
              <td class="corrtime"><%= transaction.createdAt%></td>
              <td><%=transaction.category.name%></td>
              <td><a href="/users/transaction/delete/<%=transaction.id%>" style="display: inline">Delete</a></td>
            </tr>
            <% card2sumtable=card2sumtable-transaction.content %>
          <% l++ %>
         <% } %>
         <tr>
            <td><h4><%=card2%></h4></td>
            <td><h4>CARD 2 BALANCE</h4></td>
            <td></td>
           
          </tr>
      </tbody>
    </table>
  </div>



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/home.js">
    	
</script>

