
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/css/user_signup.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ExpManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/signout">Signout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div style="display: inline-block; width: 45vw; vertical-align: top; min-width: 300px;">
    <form action="/users/transaction/create" method="POST" id="sub-form">
      
      <div>
          <input TYPE="button" class="btn btn-black m-1" Name="tansMode" Value="Credit" selected>
          <input TYPE="button" class="btn btn-black m-1" Name="tansMode" Value="Debit">
          <input TYPE="button" class="btn btn-black m-1" Name="tansMode" Value="Transfer">
      </div>

     
      
      <label>Select Account Type</label>
      <br>
      <select class="custom-select col-10" onchange="toggle(this)" name="accounttype">
          
          <option value="cash">CASH</option>
          <option value="trf" >TRANSFER</option>
          <option value="card1">CARD 1</option>
          <option value="card2">CARD 2</option>
        </select>


      <div id="catogery-div" style="display: block"> 
          
        <label>Catogery</label>
        <br>
        <select class="custom-select col-10" id="catOptions" name="category" onchange="categoryFunction(this)">
            <option disabled selected value> -- select an option -- </option>
            <% for(cl of categoryListItems){ %>
              <option value="<%=cl._id%>"><%=cl.name%></option>
            <% } %>
            <!-- <option value="income">Income</option>
            <option value="interest">Interest</option>
            <option value="loan">Loan</option>
            <option value="education">Education</option>
            <option value="food">Food</option> -->
            <option value="createNewCategory">Create New</option>
        </select>
      </div>
      <span id="categoryStatus"></span>
      <div id="newCategoryDiv" style="display: none">
          <label>Create New Category</label>
          <input type="text" class="form-control col-10" placeholder="Enter name of new catogery" name="newCategoryName">
      </div>
      <div id="trf-div" style="display: none">
        <label>Select Source</label>
        <br>
        <select class="custom-select col-10" name="source" id="src-div" onchange="srcdest()">
          
          <option value="cash">CASH</option>
          <option value="card1">CARD 1</option>
          <option value="card2">CARD 2</option>
        </select>
        <br>

        <label>Select Destination</label>
        <br>
        <select class="custom-select col-10" name="destination" id="dest-div" onchange="srcdest()">
          
          <option value="cash">CASH</option>
          <option value="card1">CARD 1</option>
          <option value="card2">CARD 2</option>
        </select>
        <br>
        <span id="src-dest-comp" style="color: red"></span>
      </div>

      <div class="form-group">
        <label>Enter amount</label>
        <input type="number" class="form-control col-10" placeholder="Amount" name="amount" required step="any">
        <input type="hidden" name="userid" value="<%= user._id %>">
      </div>
      <input type="submit" class="btn btn-black m-1" value="Submit">
    
    </form>
</div>
 <div id="transaction-container" style="display: inline-block; width: 45vw">
    
    <h1>Total Balance = <%= sum %></h1>
    <h2>Cash Balance = <%= cash %></h2>
    <h2>Card 1 Balance = <%= card1 %></h2>
    <h2>Card 2 Balance = <%= card2 %></h2>
</div>

<div class="container">
    <h2>Transaction History</h2>
    <!-- <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p> -->
    <table class="table">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Source Account</th>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <% let i=0; %>
          <% for(transaction of transactions){ %>
          <% if(i==10) break; %>


           <tr>
              <td><%=transaction.content%></td>
              <td><%= transaction.accounttype%></td>
              <td><%=transaction.category.name%></td>
              <td><a href="/users/transaction/delete/<%=transaction.id%>" style="display: inline">Delete</a></td>
              
            </tr>
          <% i++ %>
         <% } %>
         <tr>
            <td><h4><%=sum%></h4></td>
            <td><h4>BALANCE</h4></td>
            <td></td>
           
          </tr>
      </tbody>
    </table>
  </div>



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/home.js">
    	
</script>

